# Entorno virtual
.venv/
venv/
env/

# Variables de entorno
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Base de datos
*.db
*.sqlite3

# Logs
*.log
